

services:
  web:
    build: .
    command: gunicorn Project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://myuser:%23ipyana1972@mydb.cpqckgq2ijuh.eu-north-1.rds.amazonaws.com:5432/mydb
